.label-select{
    font-size: 4vw;
    margin-right: 7px;
}
.select{
    font-size: 1.5vh;
    width: 45vw;
}
.lab-sel{
    padding-left: 3%;
    width: 60vw;
    height: 4vh;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-top: 4%;
}
.div-detail{
    width: 95%;
    height: 6vh;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding-left: 5%;
    font-size: 4vw;
    font-weight: bold;
}
.temp-icon{
    display: flex;
    margin-bottom: 7vw;
    background-color: #6E44FF;
    border-radius: 35px;
    border: none;
    padding: 5vw 0;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: inset white 7px 7px 20px 0px;
}
.weather-icons{
    color: black;
    margin-right: 3%;
    font-size: 4vh;
}
.h2-city{
    margin: 5vw 0;
    font-size: 7vw;
    text-align: center;
    color: #6E44FF;
}
.temp-city{
    font-weight: 600;
    font-size: 14vw;
    margin: 0;
}
.icon-sun{
    color: yellow;
    font-size: 25vw;
}
.icon-cloud{
    color: #a9a0a0;
    font-size: 25vw;
}
.container-body{
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-reload{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.button-reload{
    background-color: #6E44FF;
    padding: 2vw;
    color: #eeeeee;
    border-radius: 10px;
}
.temp-icon-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #cfcbcb;
    margin-bottom: 4vw;
}
.p-description{
    margin: 0;
    font-size: 4vw;
}
.description-weather{
    width: 90vw;
}
.none{
    display: none;
}

/*media queries tablet*/

@media (min-width: 481px){ 
    
    .h2-city{
        font-size: 5vw;
        margin: 3vw 0;
    }
    .div-detail{
        font-size: 2.5vw;
        width: 40vw;
        padding-left: 2vh;
    }
    .lab-sel{
        margin-top: 2%;
        margin-left: 0;
        height: 4vh;
        width: 35vh;
    }
    .select{
        width: 200px;
    }
    .icon-cloud, .icon-sun{
        font-size: 15vw;
    }
    .temp-city {
        font-size: 5vw;
    }
    .p-description{
        font-size: 2vw;
    }
    .description-weather{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container-detail{
        width: 90vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
        justify-content: space-between;
    }
    .temp-icon{
        width: 40vh;
        padding: 5vw;
        margin-bottom: 3vw;
    }
    .container-reload{
        margin-top: 10vw;
    }
    .label-select {
        font-size: 2.5vh;
    }    
}

  /*media queries pc*/

  @media (min-width: 1024px){ 

    .container-reload {
        margin-top: 7vh;
    }.container-reload {
        margin-top: 7vh;
    }
    .container-footer {
        margin-top: 7vh;
    }
    .none{
        display:block;
        margin-right: 20vh;
        font-size: 5vh;
        color: #6E44FF;
    }
    .div-detail{
        font-size: 1.7vw;
        width: 40vw;
        margin: 1vh;
    }
    .container-detail{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    .icon-cloud, .icon-sun{
        font-size: 8vw;
    }
    .temp-city{
        font-size: 3vw;  
    }
    .h2-city{
        display: none;
    }
    .lab-sel{
        margin-top: 2%;
        margin-left: 4%;
        width: 400px;
        height: 4vh;
    }
    .container-labels{
        display: flex;
    }
    .button-reload{
        padding: .8vw;
    }
    .temp-icon{
        margin-bottom: 4vh;
        padding: 4vh;
    }
    .temp-icon-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4vh;
    }
    .p-description{
        font-size: 1vw;
    }
    .description-weather{
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 5vh;
    }
    .select{
        font-size: 2vh;
    }
    
  }