.app-background{
    background: radial-gradient(circle, rgb(88 217 214 / 15%) 0%, rgb(50 209 217) 74%);
    padding: 2vh;
}

/*media queries pc*/

@media (min-width: 1024px){  
    .app-background{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}